<div class="col-md-3">
  <div class="container vh-100  bg-dark ms-0 " style="width:22%; position: fixed;">
     <p class=" text-center pt-3 fw-bold h5 me-2"><a routerLink="/rootPage" class="text-decoration-none text-light"><i class="fal fa-tachometer-slowest me-1"></i>Admin Dashboard</a></p>
     <hr class="bg-light">
     <ul class="">
       <li class="me-5 mb-1"><a routerLink="/rootPage" class="fw-bold btn btn-outline-light border-0 d-block "><i class="far fa-home me-1"></i>Home</a></li>
       <li class="me-5 mb-1"><a routerLink="/statistic" class="fw-bold btn btn-outline-light border-0 d-block"><i class="far fa-chart-line me-1"></i>Statistics</a></li>
       <li class="me-5 mb-1"><a routerLink="/addUser" class="fw-bold btn btn-outline-light border-0 d-block"><i class="fal fa-users me-1"></i>AddUsers</a></li>
       <li class="me-5 mb-5"><a routerLink="/userList" class="fw-bold btn btn-outline-light border-0 d-block"><i class="far fa-list me-1"></i>UsersList</a></li>
       <div  section="footer">
       <li class="me-5 mt-5"><button type="button" href="#" class=" fw-bold btn btn-light border-0 w-100 rounded-0" (click)="onLogout()"><i class="fas fa-door-open me-1"></i>Logout</button></li>
      </div>
     </ul>
</div>
</div>
