<div class=" mt-3 container shadow-lg py-3">
  <p class="h5 display-6 text-center fw-bold">Welcome to our plate-form</p>
  <p class="mt-5 ms-4 fw-bold">I.Description</p>
  <p class="mt-0 ms-4" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
  Our plateform allow you to create association or to join many association to participate to many activities with your teams.
  Our platefrom make the build of your activities easier with our services.Here you can communicate with your teammate through chat
  or videoConference.you can also collect your ideas and share them with your teammate.
  </p>
  <p class="mt-3 ms-4 fw-bold">II.How you can Subscribe</p>
  <p class="mt-3 ms-5 fw-bold">II.1.You are association</p>
  <p class="ms-5" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
    If you're an association,signup as association and <a routerLink="/signin" class="text-decoration-none fw-bold">authenticate</a> with you're e-mail and password,then subscribre in one of our offer.
    Now you can start many activities with your team as manager.
  </p>
  <p class="mt-3 ms-5 fw-bold">II.2.You are membre</p>
  <p class="ms-5" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">

  If you're a membre signup as association and <a routerLink="/signin" class="text-decoration-none fw-bold">authenticate</a>
  with you're e-mail and password.Now you can choose one or many association to join to participate to many activities and share
  your ideas with the team
</p>
</div>
